<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Registros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gestión de Inscritos</h1>

    <div class="cuadro-listado">
        <table>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Turno</th>
                <th>Seminario</th>
                <th>Acciones</th>
            </tr>
            {% for registro in registros %}
            <tr>
                <td>{{ registro.id }}</td>
                <td>{{ registro.fecha }}</td>
                <td>{{ registro.nombre }}</td>
                <td>{{ registro.apellidos }}</td>
                <td>{{ registro.turno }}</td>
                <td>{{ registro.seminario }}</td>
                <td>
                    <form method="POST" action="/gestion">
                        <input type="hidden" name="indice" value="{{ loop.index0 }}">
                        <button type="submit" name="accion" value="editar">Editar</button>
                        <button type="submit" name="accion" value="eliminar">Eliminar</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>

        <a href="/">Nuevo Registro</a>
    </div>
</body>
</html>
